body{
  background-color: #E9EBF1;

}

h1{
  font-family: Lobster;
  color:#2C344E;

  font-weight: lighter;
  font-size: 40px;
}

p{
  margin-bottom: 40px;
  font-size: 22px;
  font-style: italic;
  font-weight: lighter;
}

ul{
  margin: 0;
  padding: 0;

}

a{
  text-decoration:none;
  font-size: 20px;
}

img{
  width: 600px;
}

h4{
  margin-bottom: 40px;
}
